elpa/
eln-cache/
projects
auto-save-list/
elpaca/
/server/
recentf
persp-state
eshell/
recentf
.cache/
org-persist/
eshell/
transient/
persp-state-file
tree-sitter/
/rime/
tramp
/codeium
.aider*
org-roam.db
/.org-id-locations
/bookmarks
/workspace/
